body {
    font-family: Helvetica;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    flex-direction: column;
}

#nome {
    color: white;
    font-size: 16px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgb(44 122 255);
    background-color: #002e57;
}

#options {
    width: 40%;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    background-color: #132039;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 102, 204);
    box-sizing: border-box;
}
#options a {
    text-decoration: none;
    width: 40%;
    margin: 10px 0;
    padding: 12px;
    background: #0066cc;
    border: none;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s;
}
#options a:hover {
    background-color: #3385ff;
}

#options a:nth-last-child(2), #options a:nth-last-child(3){
    background: #ff7b34;
}
#options a:nth-last-child(2):hover {
    background-color: #ffab56;
}
#options a:nth-last-child(3):hover {
    background-color: #ffab56;
}

#options a:last-child{
    background: #c61515;
}
#options a:last-child:hover {
    background-color: #ff4040;
}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #383838;
    font-size: small;
    margin-top: 2em;
}
img {
    box-shadow: 0 0 10px rgba(3, 59, 116, 0.7);
    border-radius: 18px;
}

/* RESPONSIVO */
@media (max-width: 480px) {
    #options {
        width: 85%;
        margin-top: 0;
        height: max-content;
    }
    #options a {
        width: 80%;
        font-size: 20px;
    }
}