body {
    font-family: Helvetica;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    flex-direction: column;
}

#nome {
    color: white;
    font-size: 16px;
    border-radius: 12px;
}

#options {
    width: 40%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    background-image: 
        linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.4)), /* camada de escurecimento */
        url('caminhao3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px rgb(0 37 112);
    box-sizing: border-box;
}
#options a {
    text-decoration: none;
    width: 40%;
    margin: 10px 0;
    padding: 12px;
    background: #0066cc;
    border: none;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s;
}
#options a:hover {
    background-color: #3385ff;
}

.seguranca {
    display: none;
    justify-content: center;
}

#options a:nth-last-child(5){
    background: rgb(221, 123, 11);
}
#options a:nth-last-child(5):hover{
    background: rgb(255, 156, 43);
}

#options a:last-child{
    background: #c61515;
}
#options a:last-child:hover {
    background-color: #ff4040;
}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #383838;
    font-size: small;
    margin-top: 2em;
}
img {
    box-shadow: 0 0 10px rgba(3, 59, 116, 0.7);
    border-radius: 18px;
}

/* RESPONSIVO */
@media (max-width: 480px) {
    #options {
        width: 85%;
        margin-top: 0;
        height: max-content;
    }
    #options a {
        width: 80%;
        font-size: 20px;
    }
}