<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5S</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='treinamentos.css') }}">
</head>
<body>
    <header>
        <h1>Treinamentos - Entrega</h1>
        <div id="links">
            <a href="javascript:history.back()" id="menu">Menu Inicial</a>
            <a href="{{ url_for('logout') }}" id="logout">Sair</a>
        </div>
    </header>
    <main>
        <a href="https://forms.gle/2dn9bUiZXJgDUwCx8">SERVIR</a>
        <a>Rating</a>
        <a>BEES</a>
        <a>DEVOLUÇÃO</a>
        <a>REFUGO</a>
        <a>Tempos e Movimentos</a>
        <a>5S</a>
        <a>Olho Vivo</a>
    </main>
    <footer>
        <img src="../static/logo.jpg" width="80" height="80">
        <p>João Vitor Borato - Analista de Rota - Tarumã JF</p>
        <p>joaov.taruma@gmail.com</p>
    </footer>

</body>
</html>